#spring:
#    autoconfigure:
#        exclude: org.springframework.boot.autoconfigure.kafka.KafkaAutoConfiguration
server:
    port: 8080

kafka:
    bootstrap:
        address: localhost:29092
    schemaregistry:
        address: http://localhost:8081
    message:
        topic:
            saved: partnerSaved
            deleted: partnerDeleted
            vertrag:
                saved: quickstart-jdbc-test
    group:
        id: vertragGroup